/****** COLORES ******/

// $color_marron_claro: #948B82;
// $color_marron_medio: #707070;
// $color_marron_oscuro: #39312C;
// $color_gris: #A9A89F;
// $color_rojizo: #544646;

$color_white: #fff; 
$color_primary : #176068;
$color_secondary : #F0EDEA;