.module__gallery {

    position: relative;

    &.type-carousel {
        img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
            object-position: center;
            @media ( min-width: 768px  ) {
                height: 60vh;
                width: auto;
            }
            @media ( min-width: 992px  ) {
                height: 100vh;
            }
        }
    }

}